/* carousel section responsive  */
.top-banner{
    margin-bottom: 200px !important;
    top:30%;
}
@media only screen and (max-width: 767px){
    .top-banner{
        margin-bottom: 0px !important;
        top:0%
    }
    #carouselExampleCaptions .carousel-item img{

        height: 50vh;
        object-fit: cover;
    }
        

}
